<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name ="EngineSettings" type="ThatIntegrationEngine.Core.ConfigElements.CoreConfig, ThatIntegrationEngine.Core" />
  </configSections>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath=".\Processes"/>
    </assemblyBinding>
  </runtime>

  <runtime>
    <gcAllowVeryLargeObjects enabled="true" />
    <gcServer enabled="true"/>
  </runtime>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>

  <!--Add logger configuration section-->
  
  <EngineSettings
    HostName="ThatIntegrationServer"
    EmailOnEngineException="true"
    EmailOnProcessException="true"
    EmailOnWatcherError="true"
    SystemTryWatcherReinitSeconds="1800"
    SystemPauseWatcherReinitSeconds="300"
    WaitTaskCompletion="false"
  >
    <EmailSettings
      From="donotreply@Company.com"
      Recipients="user1@company.com; group1@company.com; user2@company.com"
      />
  </EngineSettings>

</configuration>